<section class="footersec">
  <div class="footersec-cont">
    <div class="wrapper">
        <div class="One">
            <div>
                <img class="cardimages" src="assets\images\Get Paid Instantly.png">
            </div>
            <div class="cardLabel1">
                Quick cash disbursement
            </div>
            <div class="cardLabel2">
               Get term loan that your business needs within 72 hrs
            </div>
        </div>
        <div class="Two">
            <div>
                <img class="cardimages" src="assets\images\freelancer_feature_icon_6@1.5x.png">
            </div>
            <div class="cardLabel1">
               Ace your business finances
            </div>
            <div  class="cardLabel2">
               Manage banking accounting & everything in between, on one platform
            </div>
        </div>
        <div class="Three">
            <div>
                <img class="cardimages" src="assets\images\Low interest rate.png">
            </div>
            <div class="cardLabel1">
                Low-intrest rate
            </div>
            <div  class="cardLabel2">
               Achieve your financial goals with an amazing intrest rate starting at 13% per annum
            </div>
        </div>
        <div class="Four">
            <div>
                <img class="cardimages" src="assets\images\Covid@2x.png">
            </div>
            <div class="cardLabel1">
                Loans to fight COVID-19
            </div>
            
        </div>
        <div class="Five">
            <div>
                <img class="cardimages" src="assets\images\Secure Payments@2x.png">
            </div>
            <div  class="cardLabel1">
                Zero Paperwork
            </div>
            <div  class="cardLabel2">
               Get started instantly by submitting only your basic details & bank statements
            </div>
        </div>
       
      </div>
  </div>
  <div class="footersec-cont">
    
        <div class="heading2">
           Boost your business with Open
        </div> 

        <div  class="cardLabel3">
            Get your hands on term loan that's crafted for your business
        </div>

        <div>
            <button class="account-btn">Get an Opening Account</button>
        </div>

        
 

            
           
        
 </div>
  
</section>