@import '~@angular/material/prebuilt-themes/indigo-pink.css';



* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, sans-serif;

  background: url(C:\Users\gaura\Desktop\inBetweenDE\playBook\src\assets\images\circle.svg), url(C:\Users\gaura\Desktop\inBetweenDE\playBook\src\assets\images\blob-small.svg),url(C:\Users\gaura\Desktop\inBetweenDE\playBook\src\assets\images\sol_wave_bg.svg),url(C:\Users\gaura\Desktop\inBetweenDE\playBook\src\assets\images\accounting_dots.svg),url(C:\Users\gaura\Desktop\inBetweenDE\playBook\src\assets\images\accounting_dots.svg);
  background-size: 950px,400px,1400px,400px,400px;
  background-position: 125% -40%, -14% 8%,0% 105%,100% 47%, 35% 35%;
  background-repeat: no-repeat;
  opacity: 1;
  min-height: 150vh;
}

/* header section */
.header1 {
  position: relative;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 22px 50px;
  z-index: 100000;
}

header.sticky {
  background: white;
  padding: 14px 50px 0px 50px;
}

header .logo {
  position: relative;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li {
  position: relative;
  list-style: none;
  margin: 0 15px;
}


header.sticky .logo .logoImg{
  width: 50px;
  height: 50px;
}


header .logo .logoImg{

  width: 75px;
  height: 75px;
}

.links {
  position: relative;
  color: #222222;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
 
}

.home {
  position: relative;
  margin-top: 150px;
  display: flex;
}

.home-cont {
  width: 50%;
 padding: 24px;
}



 .links:hover{
  position: relative;
  color: #663399;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
 
}




.login {
  width: 118px;
  height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #663399;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
opacity: 1;
background: transparent;
}

.login:hover {
  width: 118px;
  height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
opacity: 1;
background: #663399;
}

.account-btn {
  width: 212px;
  margin: 24px 135px;
  height: 45px;
  text-align: center;
  font-size: 16px;
  color: #663399;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
opacity: 1;
background: transparent;
}

.account-btn:hover {
  width: 212px;
  height: 45px;
  margin: 24px 135px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
opacity: 1;
background: #663399;
}
.get-started {
  width: 118px;
  height: 45px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 20px #00000033;
border-radius: 24px;
opacity: 1;
}

.get-started:hover {
  width: 118px;
  height: 45px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #663399;
box-shadow: 0px 0px 20px #00000033;
border-radius: 24px;
opacity: 1;
}

.heading1 {
  width: 407px;
  line-height: 40px;
  font-size: 40px;
  padding: 24px 24px 0px 24px;
  text-align: left;
  color: #222222;
  opacity: 1;
  margin: 0px 108px;
}

.heading1::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  top: 136px;
  left: 12%;
  border-radius: 6px;
  border-bottom: 6px solid #222222;
}

.heading2 {
  width: 407px;
  line-height: 40px;
  font-size: 40px;
  padding: 24px 24px 0px 24px;
  text-align: left;
  color: #222222;
  opacity: 1;
  margin: 0px 108px;
}

.heading2::before {
  content: "";
  position: absolute;
  width: 7%;
  height: 1px;
  top: 140px;
  border-radius: 6px;
  border-bottom: 6px solid #222222;
}

.collect-Image {
  margin: 36px 0px 0px 90px;
  
}

.col-img {
    border-radius: 12px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
    0 1px 1px 0 rgba(0,0,0,1), 
    0 1px 3px 0 rgba(0,0,0,1);
}

.cal-card {
  width: 330px;

  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
  0 1px 1px 0 rgba(0,0,0,1), 
  0 1px 3px 0 rgba(0,0,0,1);

}

.cal-card-header {
  width: 100%;
  display: flex;
  padding-top: 8px;
  font-size: 16px;
  color: #222222;
  justify-content: center;
  background-color: #FCFCFF;
  border-radius: 8px;
  height: 40px;
}

.cal-card-body {
  width: 100%;
  padding: 24px;
}

.mat-slider-track-background {
    background-color: #00000033 !important;
}

.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background-color: #663399 !important;
}

.mat-slider-horizontal {
    height: 48px;
    width: 100%;
}

label {
    color: #222222;
    font-size: 14px;
}

.amount-value {
    margin-top: 12px;
    font-weight: 500;
    color: #222222;
    font-size: 16px;
}


.mat-slide-toggle-bar {
  background-color: #00000033;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #663399;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #FCFCFF;
}

.mat-slide-toggle-thumb {
  background-color: #FCFCFF;
}

.rupeeval {
    color: rgba(0,0,0,0.6);
  font-size: 10px;
  margin-top: -6px;
}

.loan-amount {
  background-color: #663399;
  position: absolute;
  width: 200px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 110px;
  top: 94px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
  0 1px 1px 0 rgba(0,0,0,1), 
  0 1px 3px 0 rgba(0,0,0,1);
}

.lightLabel1 {
  color: #FCFCFF;
  margin-top: 18px;
}

.lightLabel2 {
  color: #FFFFFF;
}


/* footer section */

.footersec {
  position: relative;
  margin-top: 150px;
  display: flex;
}


.footersec-cont {
  width: 50%;
 padding: 24px;
}

.wrapper {
  width: 620px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper > div {
 
  border-radius: 24px;
  width: 290px;
  height: 200px;
  background-color: #FFFFFF;
  padding: 1em;
  color: rgba(0,0,0,0.6);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
  0 1px 1px 0 rgba(0,0,0,1), 
  0 1px 3px 0 rgba(0,0,0,1);
}

.wrapper > div:hover {
 
  border-radius: 24px;
  width: 290px;
  height: 200px;
  background-color: #9F62C9;
  color: #FCFCFF;
  padding: 1em;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
  0 1px 1px 0 rgba(0,0,0,1), 
  0 1px 3px 0 rgba(0,0,0,1);
}

.wrapper  div:nth-of-type(even) {
  grid-column: 2;
}

.One {
  margin-top: -80px;
}
.Two {
  grid-row: 2;
  margin-top: -80px;
}
.Three {
  grid-row: 3;
  margin-top: -80px;   
}
.Four {
  grid-row: 4;
  margin-top: -80px;   
}
.Five {
  grid-row: 5;
  margin-top: -80px;
}

.cardimages {
  width: 58px;
  height: 60px;
  border-radius: 50%;
}

.cardLabel1 {
  color: #000000;
  margin-top: 12px;
  font-weight: 500;
}

.cardLabel2 {
  margin-top: 12px;
}

.cardLabel3 {
    color: rgba(0,0,0,0.6);
  font-weight: 500;
  margin: 39px 135px;
}
